<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="../css/account.css" rel="stylesheet"> 
</head>
<body>
    <form method="POST" action="/register">
        <img src="../logo.jpg" />
        <input type="text" name="name" placeholder="Enter name" autofocus>
        <br/>
        <input type="text" name="email" placeholder="Enter email">
        <br/>
        <input type="password" name="password" placeholder="Enter password">
        <br/>
        <button type="submit">Register</button>
    </form>
</body>
</html>