
<nav class="navbar navbar-expand-md" style="background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);">
  <!-- Brand -->
  <a class="navbar-brand" href="/">
    <img src="../../logo-sm.png" width="130" height="50" />
  </a>

  <!-- Toggler/collapsibe Button -->
  <button
    class="navbar-toggler bg-warning"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <i class="fa fa-bars" aria-hidden="true"></i>

  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <% if(!isLoggedIn){%>
      <li class="nav-item">
        <a class="nav-link" href="/account/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account/register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <% } else { %>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbardrop"
          data-toggle="dropdown"
        >
          Profile
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/account/profile/login">Login Info</a>
          <a class="dropdown-item" href="/account/profile/personal"
            >Personal Info</a
          >
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-shopping-basket" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Order History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="account/logout">Logout</a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
