<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pick Buck</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link href="/products.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/9560573208.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
      body {
        background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
      }
      .ml-auto {
        left: auto !important;
        right: 0px;
      }
      .product{
        display: grid;
        grid-template-columns: 1fr 5fr;
      }
    </style>
  </head>
  <body>

    <%- include('../partials/navigation'); %>

    <%=  product.product_name %>
    
    </button>
  </body>
</html>
