<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pick Buck</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link href="/products.css" rel="stylesheet" />
    <link href="/navigation.css" rel="stylesheet" />
    <link href="/index.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/9560573208.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
      body {
        background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
      }
      .ml-auto {
        left: auto !important;
        right: 0px;
      }
      .description {
        width: 95%;
        height: 70vh;
        display: flex;
        flex-direction: row;
        margin: auto;
        border: 1px solid black;
        margin-top: 150px;
      }
      .imageSection, .productDescription, .sellOptions {
        border: 1px solid black;
      }
      .productDescription {
        flex-grow: 3;
      }
      .sellOptions {
        flex-grow: 1;
      }
      @media only screen and (max-width: 768px) {
        .description {
          width: 95%;
          height: 70vh;
          display: flex;
          flex-direction: column;
          margin: auto;
          border: 1px solid black;
          margin-top: 150px;
        } 
      }
      .imageSection {
        flex-grow: 2;
        flex-direction: row;
      }
      .imageList ul {
        list-style-type: none;
      }
      .imageList li {
        width: 10vh;
        height: 10vh;
        border: 1px solid black;
        margin-bottom: 10px;
      }
      #productImage {
        width: 40vh;
        height: 50vh;
        border: 1px solid black;
      }
    </style>
  </head>
  <body>

    <%- include('../partials/navigation'); %>

    <div class="description">
      <div class="imageSection">
        <div class="imageList">
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div id="productImage">

        </div>
      </div>
      <div class="productDescription">

      </div>
      <div class="sellOptions">

      </div>
    </div>

    </button>
  </body>
</html>
